[Unit]
Description=Freqtrade bot B

[Service]
WorkingDirectory=~/freqtrade
ExecStart=~/freqtrade/.env/bin/freqtrade trade --config ~/freqtrade/user_data/config_b.json
Restart=always
RestartSec=10
Type=notify
NotifyAccess=all
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=freqtrade_b
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
