[Unit]
Description=Freqtrade bot A

[Service]
WorkingDirectory=/home/ubuntu/freqtrade
ExecStart=/home/ubuntu/freqtrade/.env/bin/freqtrade trade --config /home/ubuntu/freqtrade/user_data/config_a.json
Restart=always
RestartSec=10
Type=notify
NotifyAccess=all
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=freqtrade_a
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
