[Unit]
Description=Freqtrade bot 6

[Service]
WorkingDirectory=/opt/freqtrade
ExecStart=/opt/freqtrade/.env/bin/freqtrade trade --config /opt/freqtrade/user_data/config/master.json --config /opt/freqtrade/user_data/config/SmaRsi_8085.json --config /opt/freqtrade/user_data/config/pairlist/pairlist_volume_10_refresh_1800.json
Restart=always
RestartSec=10
Type=notify
NotifyAccess=all
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=freqtrade_6

[Install]
WantedBy=multi-user.target
