[Unit]
Description=Freqtrade bot 3
After=exchange_proxy.service

[Service]
WorkingDirectory=/opt/freqtrade
ExecStart=/opt/freqtrade/.env/bin/freqtrade trade --config /opt/freqtrade/user_data/config/exchange_proxy.json --config /opt/freqtrade/user_data/config/log.json --config /opt/freqtrade/user_data/config/main/3.json --config /opt/freqtrade/user_data/config/buy_sell/buy_sell_1.json --config /opt/freqtrade/user_data/config/pairlist/exclude_shit.json
Restart=always
RestartSec=10
Type=notify
NotifyAccess=all
StandardOutput=syslog
StandardError=syslog
TimeoutSec=900
TimeoutStartSec=900
SyslogIdentifier=freqtrade_3

[Install]
WantedBy=multi-user.target
