[Unit]
Description=Freqtrade bot 5

[Service]
WorkingDirectory=/opt/freqtrade
ExecStart=/opt/freqtrade/.env/bin/freqtrade trade --config /opt/freqtrade/user_data/config/exchange.json --config /opt/freqtrade/user_data/config/log.json --config /opt/freqtrade/user_data/config/main/5.json
Restart=always
RestartSec=10
Type=notify
NotifyAccess=all
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=freqtrade_5

[Install]
WantedBy=multi-user.target
